@model OnVideo.ViewModels.MoviesFormViewModel

@{
    ViewBag.Title = "MoviesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MoviesForm</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x=>x.Movie.Name)
        @Html.TextBoxFor(x=>x.Movie.Name, new {@class = "form-control"})
    </div>  

    <div class="form-group">
        @Html.LabelFor(x=>x.Movie.DateReleased)
        @Html.TextBoxFor(x=>x.Movie.DateReleased, "{0:d MM yyy}", new {@class = "form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.Movie.DateReleased)
        @Html.DropDownListFor(x=>x.Movie.GenreId,new SelectList(Model.Genres, "Id", "Name"),"Select Genre", new {@class = "form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.Movie.NumberInStock)
        @Html.TextBoxFor(x=>x.Movie.NumberInStock, new {@class = "form-control"})
    </div>
    @Html.HiddenFor(x=>x.Movie.Id)
    <button class="btn btn-primary">Add Movie</button>
}